{% include "base.html.twig" %}
{% include "header.html.twig" %}


<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">

        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill " id="t_qte">{{ qte }}</span>
            </h4>
            <ul class="list-group mb-3">
                {% for item in items %}


                <li class="list-group-item d-flex justify-content-between lh-condensed" id="group-item-{{ item.id }}">
                    <div>
                        <h6 class="my-0"> {{ item.product }}</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <button class="down" type="submit" id="{{ item.id }}" name="upPlace" value="1" >
                    <span>
                        <i class="fa fa-angle-down"></i>
                    </span>
                    </button>
                    <span class="text-muted" id="item-{{ item.id }}">{{ item.quantity }}</span>
                    <button class="down" id="{{ item.id }}" type="submit" name="downPlace" value="-1">
                    <span>
                        <i class="fa fa-angle-up"></i>
                    </span>
                    </button>
                    <button class="btn-danger delete" id="delete" value="{{ item.id }}"><span>Supprimer</span></button>

                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>{{ t_price }}</strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <select> {% for adr in adres %}
                        <option class="address" value="{{ adr.id }}">{{ adr.name }}</option>
                    {% endfor %}
            </select>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Téléphone<span class="text-muted">(Optionel)</span></label>
                    <input type="text" class="form-control" id="phone" placeholder="">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">

                        <div class="mb-3">
                            <label for="country">Pays <span class="text-muted">(Optionel)</span></label>
                            <input type="text" class="form-control" id="country" placeholder="">
                    </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">Ville</label>
                        <input type="text" class="form-control" id="city" placeholder="">

                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="77176" required>
                        <div class="invalid-feedback">
                            Code postal
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">Payment</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required>
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
==================================================
 -->
{% include "footer.html.twig" %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    $(document).on('click', '.down', function(){
    let postData = 'id=' + this.id + '&qte='+this.value;
    let value = this.value;
        $.ajax({
            url:'{{ (path('update_quantity')) }}',
            type: "POST",
            dataType: "html",
            data: postData,
            async: true,
            success: function (data)
            {
                var json = JSON.parse(data);
                let t_qte = parseInt(document.getElementById('t_qte').firstChild.nodeValue);
                document.getElementById('t_qte').textContent =parseInt(t_qte) +parseInt(value);
                let truc = document.getElementById('item-'+json.output)
                truc.textContent= json.qte;
            },
            error: function(data)
            {
                console.log(nop);
            }
        });
    });
</script>
<script>
    $(document).on('click', '.delete', function(){
        let postData = 'id=' + this.value;
        let value = this.value;
        $.ajax({
            url:'{{ (path('delete_purchase_item')) }}',
            type: "POST",
            dataType: "html",
            data: postData,
            async: true,
            success: function (data)
            {
                var json = JSON.parse(data);
                console.log(json);
                document.getElementById('group-item-'+json.output).remove();

            },
            error: function(data)
            {
                console.log(data);
            }
        });
    });
</script>
<script>
    $(document).on('click','.address',function(){
        let postData = 'id='+this.value;
        $.ajax({
            url: '{{ path('getOneAddress') }}',
            type: "POST",
            dataType: 'html',
            data: postData,
            async: true,
            success: function(data){
                var json = JSON.parse(data);

                document.getElementById('firstName').value = json.name;
                document.getElementById('address').value = json.address;
                document.getElementById('phone').value = json.phone;
                document.getElementById('zip').value = json.cp;
                document.getElementById('country').value = json.country;
                document.getElementById('city').value = json.city;
                console.log(data);
            },
            error: function(data)
            {
                console.log(data);
            }
        });
    });
</script>
</body>
</html>
