{% include "base.html.twig" %}
{% include "header.html.twig" %}

<div class="row">
    <div class="col-md-6"><img src="{{ asset('uploads/images/products/'~product.image) }}"></div>
    <div class="col-md-6">
        <ul  class="list-group">
            <li class="list-group-item">{{product.name}}</li>
            <li class="list-group-item">{{product.description}}</li>
            <li class="list-group-item">prix: {{product.price}} €</li>
        </ul>
        <a href="{{ path('addToCart', {'id': product.id }) }}" type="button" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
        </a>
    </div>
</div>

{% include "footer.html.twig" %}